{% extends 'layout/body.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href=" {% static 'datatable/DataTables-1.13.1/css/dataTables.bootstrap4.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href=" {% static 'datatable/Responsive-2.4.0/css/responsive.bootstrap4.min.css' %}"/>
	<script type="text/javascript" src=" {% static 'datatable/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src=" {% static 'datatable/DataTables-1.13.1/js/dataTables.bootstrap4.min.js' %}"></script>
	<script type="text/javascript" src=" {% static 'datatable/Responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
	<script type="text/javascript" src=" {% static 'datatable/Responsive-2.4.0/js/responsive.bootstrap4.js' %}"></script>

    {% comment %} Select2 {% endcomment %}
    <link rel="stylesheet" href="{% static 'select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'select2-4.0.13/css/select2-bootstrap4.min.css'%}"/>
	<script src="{% static 'select2-4.0.13/js/select2.min.js' %}"></script>
	<script src="{% static 'select2-4.0.13/js/i18n/es.js' %}"></script>
    {% endblock head %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="selectPrograma">Programa de posgrado</label>
            <select class="form-control select2" id="selectPrograma">
                <option value="">-----Seleccione un programa----</option>
                <!-- TODO: Deshabilitar la primera opcion del select2 -->
                {% for posgrado in data.posgrados %}
                    <option value="{{posgrado.id}}">{{posgrado}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <table class="table" id="estudiantesPosgrado">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Apellidos y nombre</th>
                        <th>Evaluación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="btn-generar-reporte">Generar reporte</button>
            <a href="#" class="btn btn-danger" id="btn-generar-pdf">Otro</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script>
        // var datos = [];
        var dataTable;
        var id_programa = 0
        function getData(programa){
            if(dataTable){
                dataTable.destroy();
            }
            dataTable = $('#estudiantesPosgrado').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    "url": "{% static 'datatable/datatable_spanish.json' %}"
                },
                ajax:{
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'filtrar_posgrado',
                        'id' : programa
                    },
                    dataSrc: ""
                },
                columns: [
                    {"data":"no"},
                    {"data":"nombre"},
                    {"data":"eval"},
                ], initComplete: function(settings, json){
                    // console.log(settings, json);
                    // datos = json;
                }
            });
        }
        getData(id_programa);

        $(document).ready(function() {

            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });

            $('select[id="selectPrograma"]').change(function () {
                id_programa = $(this).val();
                if(id_programa != '')
                    getData(id_programa);
                    document.getElementById("btn-generar-pdf").href = 'generate-pdf/' + id_programa;
                    document.getElementById("btn-generar-pdf").target="_blank";
            })
        });

        $('#btn-generar-reporte').on('click',function () {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'generate_report',
                    'id': id_programa,
                },
                dataSrc: '',
            }).done(function (data) {
                console.log(data);
            }).fail(function () {
                alert('error');
            }).always(function () {
                // alert('completado');
            })
        });
    </script>
{% endblock javascript %}