boletin/__pycache__/__init__.cpython-310.pyc
boletin/__pycache__/admin.cpython-310.pyc
boletin/__pycache__/apps.cpython-310.pyc
boletin/__pycache__/models.cpython-310.pyc
boletin/__pycache__/views.cpython-310.pyc
posgrado/__pycache__/__init__.cpython-310.pyc
posgrado/__pycache__/admin.cpython-310.pyc
posgrado/__pycache__/apps.cpython-310.pyc
posgrado/__pycache__/forms.cpython-310.pyc
posgrado/__pycache__/urls.cpython-310.pyc
posgrado/__pycache__/views.cpython-310.pyc
posgrado/migrations/__pycache__/__init__.cpython-310.pyc
posgrado/migrations/__pycache__/0001_initial.cpython-310.pyc
posgrado/migrations/__pycache__/0002_formaposgrado_organismo.cpython-310.pyc
posgrado/migrations/__pycache__/0003_pais.cpython-310.pyc
posgrado/migrations/__pycache__/0004_programa_alter_pais_options.cpython-310.pyc
posgrado/migrations/__pycache__/0005_posgrado.cpython-310.pyc
posgrado/migrations/__pycache__/0006_persona.cpython-310.pyc
posgrado/migrations/__pycache__/0007_posgrado_fecha_fin_posgrado_fecha_inicio_matricula_and_more.cpython-310.pyc
posgrado/migrations/__pycache__/0008_alter_facultad_options_alter_formaposgrado_options_and_more.cpython-310.pyc
posgrado/migrations/__pycache__/0009_alter_matricula_pais_alter_posgrado_fecha_fin_and_more.cpython-310.pyc
posgrado/models/__pycache__/choices.cpython-310.pyc
posgrado/models/__pycache__/clasif.cpython-310.pyc
posgrado/models/__pycache__/models.cpython-310.pyc
posgrado/templates/clasificadores/__pycache__/urls.cpython-310.pyc
config/__pycache__/__init__.cpython-310.pyc
config/__pycache__/settings.cpython-310.pyc
config/__pycache__/urls.cpython-310.pyc
config/__pycache__/wsgi.cpython-310.pyc
db.sqlite3
