{% extends 'layout/list.html' %}

{% block columns %}
	<tr>
	<th scope="col"></th>
	<th scope="col">Nombre</th>
	<th scope="col">Abreviatura</th>
	<th scope="col">Opciones</th>     
	</tr>
{% endblock columns %} 
{% block rows %} 
	{% for facultad in object_list %}
		<tr>
		<td>
			<div class="btn-group btn-group-sm" role="group">
				{% if facultad.activo == True %}
				<a class="btn btn-secondary" href="{% url 'facultad_active' facultad.id %}">
					<i class="fas fa-eye-slash"></i>
				</a>
				{% else %}
				<a class="btn btn-info" href="{% url 'facultad_active' facultad.id %}">
					<i class="fas fa-eye"></i>
				</a>
				{% endif %}</td>
			</div>
		<th {% if not facultad.activo %} class='done' {% endif %} scope="row">{{ facultad.nombre }}</th>
		<td {% if not facultad.activo %} class='done' {% endif %}>{{ facultad.abrev }}</td>
		<td>
			<div class="btn-group btn-group-sm" role="group">
				<a class="btn btn-warning" href="{% url 'facultad_update' facultad.id %}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="btn btn-danger" href="{% url 'facultad_delete' facultad.id %}">
					<i class="fas fa-trash-alt"></i>
				</a>
			</div>
		</td>
		</tr>
	{% endfor %} 
{% endblock rows %}
