{% extends 'layout/list.html' %}

{% block columns %}
	<tr>
	<th scope="col">Código</th>
	<th scope="col">Rama</th>
	<th scope="col">Tipo</th>
	<th scope="col">Opciones</th>     
	</tr>
{% endblock columns %} 
{% block rows %} 
	{% for programa in object_list %}
		<tr>
		<th scope="row">{{ programa.codigo }}</th>
		<td>{{ programa.rama }}</td>
		<td>{{ programa.tipo }}</td>
		<td>
			<div class="btn-group btn-group-sm" role="group">
				<a class="btn btn-warning" href="{% url 'programa_update' programa.codigo %}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="btn btn-danger" href="{% url 'programa_delete' programa.codigo %}">
					<i class="fas fa-trash-alt"></i>
				</a>
			</div>
		</td>
		</tr>
	{% endfor %} 
{% endblock rows %}
