<section id="otros" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Otras estadísticas</h2>
        <p>Organizaciones de masa</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4>
                <span data-purecounter-start="0" data-purecounter-end="{{data.org_masa.ujc}}" data-purecounter-duration="1" class="purecounter"></span>
            </h4>
            <p>Unión de Jóvenes Comunistas (UJC)</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4>
                <span data-purecounter-start="0" data-purecounter-end="{{data.org_masa.pcc}}" data-purecounter-duration="2" class="purecounter"></span>
            </h4>
            <p>Partido Comunista de Cuba (PCC)</p>
          </div>
        </div>
      </div>
      <div class="section-title">
        <p>Otros</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4>
                <span data-purecounter-start="0" data-purecounter-end="{{data.otros.convenios_internac}}" data-purecounter-duration="1" class="purecounter"></span>
            </h4>
            <p>Convenios internacionales</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4>
                <span data-purecounter-start="0" data-purecounter-end="{{data.otros.carreras_acreditadas}}" data-purecounter-duration="2" class="purecounter"></span>
            </h4>
            <p>Carreras acreditadas</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4>
                <span data-purecounter-start="0" data-purecounter-end="{{data.otros.becas_internac}}" data-purecounter-duration="2" class="purecounter"></span>
            </h4>
            <p>Becas internacionales</p>
          </div>
        </div>
      </div>
    </div>
  </section>