{% extends 'capas/list.html' %}

{% block columns %}
	<tr>
		<th scope="col">No.</th>
		<th scope="col">Nombre</th>
		<th scope="col">Cargo</th>
		<th scope="col">Área</th>
		<th scope="col">Foto</th>   
		<th scope="col">Opciones</th>
	</tr>
{% endblock columns %} 
{% block rows %} 
	{% for solapin_persona in object_list %}
		<tr>
		<th scope="row">{{ solapin_persona.no }}</th>
		<td>{{ solapin_persona.nombre }}</td>
		<td>
			{{ solapin_persona.cargo }}<br>
			{% if solapin_persona.libre_acceso %}<span class="badge badge-success">LIBRE ACCESO</span>{% endif %}
			{% if solapin_persona.diseno_superior %}<span class="badge badge-danger">DISEÑO SUPERIOR</span>{% endif %}
		</td>
		<td>{{ solapin_persona.area_general }}<br>{{ solapin_persona.area_trabajo }}</td>
		<td>
			<img src="{{ solapin_persona.get_image }}" class="img-fluid d-block mx-auto" style="max-width: 70px; height: auto">
			{% if solapin_persona.get_image == '/media/solapin/sin_foto.jpg' %}
				<div style="text-align: center;">Sin foto</div>
			{% endif %}
		</td>
		<td>
			<div class="btn-group btn-group-sm" role="group">
				<a class="btn btn-warning" href="{% url 'solapin_update' solapin_persona.no %}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="btn btn-danger" href="{% url 'solapin_delete' solapin_persona.no %}">
					<i class="fas fa-trash-alt"></i>
				</a>
			</div>
		</td>
		</tr>
	{% endfor %} 
{% endblock rows %}
