{% extends 'layout/list.html' %}

{% block columns %}
	<tr>
	<th scope="col">ID</th>
	<th scope="col">Nombre</th>
	<th scope="col">Sigla</th>
	<th scope="col">Opciones</th>     
	</tr>
{% endblock columns %} 
{% block rows %} 
	{% for organismo in object_list %}
		<tr>
		<th scope="row">{{ organismo.id }}</th>
		<td>{{ organismo.nombre }}</td>
		<td>{{ organismo.sigla }}</td>
		<td>
			<a class="btn btn-warning btn-xs btn-flat" href="{% url 'organismo_update' organismo.id %}">
				<i class="fas fa-edit"></i>
			</a>
			<a class="btn btn-danger btn-xs btn-flat" href="{% url 'organismo_delete' organismo.id %}">
				<i class="fas fa-trash-alt"></i>
			</a>
		</td>
		</tr>
	{% endfor %} 
{% endblock rows %}
