{% extends 'layout/list.html' %}

{% block columns %}
	<tr>
	<th scope="col">ID</th>
	<th scope="col">Nombre</th>
	<th scope="col">Sigla</th>
	<th scope="col">Opciones</th>     
	</tr>
{% endblock columns %} 
{% block rows %} 
	{% for fp in object_list %}
		<tr>
		<th scope="row">{{ fp.id }}</th>
		<td>{{ fp.nombre }}</td>
		<td>{{ fp.abrev }}</td>
		<td>
			<a class="btn btn-warning btn-xs btn-flat" href="{% url 'forma_posgrado_update' fp.id %}">
				<i class="fas fa-edit"></i>
			</a>
			<a class="btn btn-danger btn-xs btn-flat" href="{% url 'forma_posgrado_delete' fp.id %}">
				<i class="fas fa-trash-alt"></i>
			</a>
		</td>
		</tr>
	{% endfor %} 
{% endblock rows %}
