{% extends 'layout/list.html' %}

{% block columns %}
	<tr>
	<th scope="col">Nombre</th>
	<th scope="col">Sigla</th>
	<th scope="col">Opciones</th>     
	</tr>
{% endblock columns %} 
{% block rows %} 
	{% for fp in object_list %}
		<tr>
		<td>{{ fp.nombre }}</td>
		<th scope="row">{{ fp.abrev }}</th>
		<td>
			<div class="btn-group btn-group-sm" role="group">
				<a class="btn btn-warning" href="{% url 'forma_posgrado_update' fp.id %}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="btn btn-danger" href="{% url 'forma_posgrado_delete' fp.id %}">
					<i class="fas fa-trash-alt"></i>
				</a>
			</div>
		</td>
		</tr>
	{% endfor %} 
{% endblock rows %}
