<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href=".">{{name}}<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#estudiantes">Estudiantes</a></li>
          <li><a class="nav-link scrollto" href="#profesores">Profesores</a></li>
          <li><a class="nav-link scrollto " href="#cursos">Cursos</a></li>
          <li><a class="nav-link scrollto" href="#otros">Otros</a></li>
          {% if request.user.username %}
          <li><a class="nav-link" href="#">Bienvenid@ <i class="fas fa-user mr-2"></i> {{request.user.username}}</a></li>
          {% endif %}
          {% comment %} <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li> {% endcomment %}
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="#about" class="get-started-btn scrollto">Get Started</a> -->
  
      {% if request.user.username %}
        <a href="{% url 'logout' %}" class="get-started-btn scrollto" title="Cerrar sesión">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      {% else %}
        <a href="{% url 'login' %}" class="get-started-btn scrollto">
          <i class="fas fa-sign-in-alt"></i> Iniciar sesión
        </a>
      {% endif %} 
      <a href="{% url 'login' %}" class="get-started-btn scrollto">
        <i class="fas fa-shield-alt"></i> Administrar
      </a>

    </div>
  </header>