{% load static %}
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="{%static 'UG/img/SolapinUGLogo.png'%}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">CRUD para Solapines</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        {% if request.user.username %}
        <li class="nav-item">
          <span class="navbar-text">
            <i class="fas fa-user"></i>
            {{request.user.username}}
          </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" role="button" title="Cerrar sesión">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" role="button">
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
          </a>
        </li>
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>